<!DOCTYPE html>
<html>
    <title>
        deleteBooks
    </title>
    <h1>
        Delete Book
    </h1>
    <p>
        Are you sure you want to delete {{books[id].title}}?
    </p>
    <form method = 'POST'>
        <input type="submit" name='delete' value="Delete">
        <a href="{{url_for('showBook', books = books)}}">Cancel</a>
    </form>        
</html>