<!DOCTYPE html>
<html>
    <title>
        editBooks
    </title>
    <h1>
        Edit Book
    </h1>
    <form method = 'POST'>
        <label for="name">Name:</label><br><br>
        <input type="text" id="name" name = 'name' placeholder="{{books[id].title}}">
        <input type="submit" value="Edit"> 
        <a href="{{url_for('showBook', books = books)}}">Cancel</a>      
    </form>    
</html>