<!DOCTYPE html>
<html>
    <title>
        newBooks
    </title>
    <h1>
        New Book
    </h1>
    <form method = 'POST'>
        <label for="name">Name:</label><br><br>
        <input type="text" id="added" name="added">
        <input type="submit" value="Create">
    </form><br/>
    <a href="{{url_for('showBook', books = books)}}">See all books</a>
</html>